html{
  scroll-padding-top: 6rem;
}

.jumbotron{
  background-color: #0dcafd24;
  padding-top: 6rem;
}

.navbar-brand{
  font-size: 2rem;
}

.mycs{
  margin-bottom: 20px;
}

#projects{
  background-color: #0dcafd24;
}
